# Configuration Supabase
VITE_SUPABASE_URL=https://yjsssezyuvrdheqgteiw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlqc3NzZXp5dXZyZGhlcWd0ZWl3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5ODg3NTksImV4cCI6MjA3NDU2NDc1OX0.ZUxyuW10WOsFvivGq32qcfDQWuoGOZOVmH9TZX30LIE
